<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        body {
            background-image:url(http://ui-patterns.com/uploads/image/file/3397/best_Screen_Shot_2015-02-16_at_22.17.37.png);
            -moz-background-size: cover;
            -webkit-background-size: cover;
            background-size: cover;
            background-position: top center !important;
            background-repeat: no-repeat !important;
            background-attachment: fixed;
        }
    </style>
</head>
</html>